<div *ngIf="isAuthenticated">
  <div class="spinner-holder">
    <app-progress-spinner *ngIf="isLoading"></app-progress-spinner>
  </div>
  <p-dataView
    [value]="shows"
    [paginator]="true"
    [rows]="12"
    layout="grid"
    emptyMessage="Loading..."
  >
    <ng-template let-show pTemplate="gridItem">
      <div class="p-col-12 p-md-3 card-holder">
        <a [routerLink]="['/shows/' + show.id]">
          <p-card header="{{ show.title }}">
            <ng-template pTemplate="header">
              <img src="{{ show.image.small_url }}" alt="" class="card-img" />
            </ng-template>
          </p-card>
        </a>
      </div>
    </ng-template>
    <ng-template pTemplate="empty"> </ng-template>
  </p-dataView>
</div>
<div *ngIf="!isAuthenticated">
  <p-panel header="How to login">
    <ul>
      <li>
        You must be logged in to access the videos on this site.
      </li>
    </ul>
  </p-panel>
</div>
